

.card-1{
    width: 400px;
    border: 1px solid black;
    padding: 20px;
}
.c1{
    border-bottom: 1px solid gray;
}
.c2-1{
    text-align: center;
}
.c2-2{
    display: flex;
    justify-content: space-evenly;
    
}
.c2-2-1{
    border-right: 1px solid gray;
    padding-right: 20px;
}
.c2-2-2{
    border-right: 1px solid gray;
    padding-right: 20px;
}
.c2-3{
    display: flex;
    justify-content: space-around;
}